body{
    background-color: var(--body-bg);
}
.invisible{
    color: #EFECEC;
}
.welcome1 {
    color: #e6e6e6;
    size: 50px;
  }
.welcome2 {
    color: fff;
}
.header {
    position: relative;
    text-align: center;
    background-image: url("https://upload.hicoria.com/files/df5BcryA.jpg");
    color: white;
}

